<%- include("partials/header"); -%> 

    <div class="full-note">
        <h1><%= noteTitle %></h1>
        <p><%= noteContent %></p>
        <a href="/">Back to home</a>

    </div>

<%- include("partials/footer"); -%> 